################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ColomboMain/.vs/ColomboMain/CopilotIndices/17.12.38.29086
/ColomboMain/.vs/ColomboMain/FileContentIndex/64d4370e-556e-432d-a078-ae13259b936f.vsidx
